<?php

    /**
     * Bu sınıf örnek bir event sınıfıdır
     * @author vahitserifsaglam <vahit.serif119@gmail.com>
     */

    namespace Application\Events;

    /**
     * Class {{ name }}
     * @package Application\Events
     */

    class {{ name }} extends Event{

        /**
         *  Başlatıcı fonksiyon
         */
        public function __construct(){
        //
        }

    }