<?php

    /**
     * Bu sınıf örnek bir event sınıfıdır
     * @author vahitserifsaglam <vahit.serif119@gmail.com>
     */

    namespace Application\Listeners;

    /**
     * Class {{ name }}
     * @package Application\Listeners
     */

    class {{ name }} extends EventListener{

        /**
         *  Başlatıcı fonksiyon
         */
        public function __construct(){
            //
        }

        /**
         * Yakalayıcı fonksiyon
         *
         */
        public function handle()
        {

        //
        }

    }