<?php
    /**
     * @author vahitserifsaglam <vahit.serif119@gmail.com>
     * @copyright AnonymMedya, 2015
     */

    namespace Application\Database\Migrations;


    use Anonym\Database\Tools\Migration\Migration;
    use Anonym\Database\Tools\Migration\MigrationInterface;

    class {{ name }} extends Migration implements MigrationInterface
    {

        /**
         * Yükleme İşlemleri burada gerçekleşir
         */

        public function up()
        {

            //
        }


        /**
         * Düşürme işlemleri burada gerçekleşir
         */
        public function down()
        {

            //
        }
    }
