<?php

/**
 * This file belongs to the AnoynmFramework
 *
 * @author vahitserifsaglam <vahit.serif119@gmail.com>
 * @see http://gemframework.com
 *
 * Thanks for using
 */

namespace App\Events;

use Anonym\Components\Event\Event;

/**
 * Class {{ name }}
 * @package App\Events
 */
class {{ name }} extends Event{

     /**
      * Create a new instance
      *
      *  @return void
      */
     public function __construct(){

        // do nothing

     }
}
