<?php

/**
 * This file belongs to the AnoynmFramework
 *
 * @author vahitserifsaglam <vahit.serif119@gmail.com>
 * @see http://gemframework.com
 *
 * Thanks for using
 */

namespace App\Listeners;
use Anonym\Components\Event\EventLister as Listener;

/**
 * the abstract class of event listener
 *
 * Class {{ name }}
 * @package Anonym\Components\Event
 */
class {{ name }} extends Listener{

     /**
      * Create a new instance
      *
      *  @return void
      */
      public function __construct(){

           // do nothing

      }

       /**
        * handle the event instance
        *
        * @param Event $event
        * @return mixed
        */
        public function handle(){


        }
}
