<?php
 /**
  * @author vahitserifsaglam <vahit.serif119@gmail.com>
  * @copyright GemMedya, 2015
  */

namespace Database\Migrations;

use Anonym\Tools\Migration;
use Anonym\Tools\MigrationInterface;

class {{ name }} extends Migration implements MigrationInterface
{

   /**
    * Yükleme İşlemleri burada gerçekleşir
    */

    public function up()
    {

        //
    }


    /**
     * Düşürme işlemleri burada gerçekleşir
     */
     public function down()
     {
          //
     }
}
