<?php
/**
 * This file belongs to the AnoynmFramework
 *
 * @author vahitserifsaglam <vahit.serif119@gmail.com>
 * @see http://gemframework.com
 *
 * Thanks for using
 */


namespace App\Models;


use Anonym\Facades\Element;

/**
 * Class {{ name }}
 * @package App\Models
 */
class {{ name }}  extends Element {
        public $table = '{{ lower-name }}';
}
