<?php
/**
 * This file belongs to the AnoynmFramework
 *
 * @author vahitserifsaglam <vahit.serif119@gmail.com>
 * @see http://gemframework.com
 *
 * Thanks for using
 */

namespace Database\Seeds;

use Anonym\Tools\Seeder;
use Anonym\Tools\SeedInterface;

/**
 * Class {{ name }}
 * @package Database\Seeds;
 */
class {{ name }} extends Seeder implements SeedInterface{

      /**
       * execute the seeds
       *
       * @return void
       */
      public function run(){


      }

}
